// Body
$body-bg: #E4E7EB;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #0A558C;
$secondary:     #2680C2;
$success:       #17B897;
$info:          #62B0E8;
$warning:       #E9B949;
$danger:        #911111;
$light:         #F0F4F8;
$dark:          #102A43;

$navbar-dark-color: #F0F4F8;
$navbar-dark-hover-color: #B6E0FE;
